<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      th:replace="~{_layout :: layout(~{::section}, 'Livro')}">
<section>
  <h2 th:text="${livro.id} != null ? 'Editar Livro' : 'Novo Livro'">Novo Livro</h2>

  <form th:action="${livro.id} != null ? @{|/livros/${livro.id}|} : @{/livros}"
        method="post" th:object="${livro}" class="form">
    <div class="field">
      <label for="titulo">Título</label>
      <input id="titulo" type="text" th:field="*{titulo}">
      <small class="error" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">erro</small>
    </div>

    <div class="field">
      <label for="autor">Autor</label>
      <input id="autor" type="text" th:field="*{autor}">
      <small class="error" th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}">erro</small>
    </div>

    <div>
      <label>Status</label>
      <select name="status" th:field="*{status}">
        <option value="ATIVO">ATIVO</option>
        <option value="INATIVO">INATIVO</option>
      </select>
    </div>


    <div class="actions">
      <button type="submit">Salvar</button>
      <a th:href="@{/livros}">Voltar</a>
    </div>
  </form>
</section>
</body>
</html>
